strict_env
#export UV_DEFAULT_INDEX="https://pypi.org/simple/"
#export UV_EXTRA_INDEX_URL="https://test.pypi.org/simple/"

uv sync #--index-strategy unsafe-best-match
uv tool install tox --with tox-uv # use uv to install
source .venv/bin/activate

